<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pksp.dao.CakeRepository">

    <insert id="saveCakes" parameterType="pksp.models.Cake">
        INSERT INTO cakes (id, name, description,price)
        VALUES (#{id}::UUID,#{name}, #{description}, #{price})
    </insert>

    <select id="findAll" resultMap="CakesMap">
        SELECT *
        FROM cakes
    </select>

    <update id="updateCakes" parameterType="pksp.models.Cake">
        UPDATE cakes
        SET name = #{name}, description = #{description}, price = #{price}
        WHERE id = #{id}::UUID
    </update>


    <delete id="deleteCakes" parameterType="pksp.models.Cake">
        DELETE FROM cakes
        WHERE id = #{id}::UUID
    </delete>





    <resultMap id="CakesMap" type="pksp.models.Cake">
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="id" column="id"/>
        <result property="price" column ="price"/>
    </resultMap>


    


</mapper>